<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>Document</title> -->
    <%- include("dymeta") -%>

    <link rel="stylesheet" href="/index.css" />

    <script type='text/javascript' src='//conditioneavesdroppingbarter.com/52/39/17/523917fb534a349eabe8ee5aef29076f.js'></script>
</head>
<body>
   <div class="mainBody">
    <%- include("nav") -%>
    
    <div class="detailsContainer">
        <img src="<%=locals.data.postHeader.featureImage %>" alt="featureImage" class="detailsFeatureImage" >

        <script async="async" data-cfasync="false" src="//conditioneavesdroppingbarter.com/ac9cc30da1d84b9f08b09a93175980cd/invoke.js"></script>
        <div id="container-ac9cc30da1d84b9f08b09a93175980cd"></div>

        <div class="detailsInfo">
            <span> <%=locals.data.postHeader.author %> </span>
            <span> <%=locals.data.postHeader.lastUpdated %> </span>
        </div>
        <h3>  <%=locals.data.postHeader.title %>  </h3>

       <div class="adWrapper" >
        <script type="text/javascript">
            atOptions = {
                'key' : '9fc4a431d8b609b8ea4b1d36afef2f84',
                'format' : 'iframe',
                'height' : 50,
                'width' : 320,
                'params' : {}
            };
        </script>
        <script type="text/javascript" src="//conditioneavesdroppingbarter.com/9fc4a431d8b609b8ea4b1d36afef2f84/invoke.js"></script>
       </div>
    
        <% locals.data.data.map((item) => { %>
          <img src="<%=item.downloadUrl %>" alt="image" loading="lazy" class="detailsImage" >
          <p> <%=item.details %> </p>
        <% }); %>
    </div>

    <%- include("footer") -%>
   
   </div>

   <script type='text/javascript' src='//conditioneavesdroppingbarter.com/94/04/29/94042922248ff9ab32d1095ece22bada.js'></script>
</body>
</html>