<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>MM  News</title>
    <%- include("dymeta") -%>


    <link rel="stylesheet" href="/index.css" />
   
   
    <meta name='admaven-placement' content=BrHgFrjU6>

    <%- include("Pop") -%>
    <%- include("float") -%>
    <%- include("interstitials") -%>


</head>
<body>
    <div class="mainBody">
        <%- include("nav") -%>
       
        <div class="detailsContainer">
            <img src="<%=locals.data.postHeader.featureImage %>" alt="featureImage" class="detailsFeatureImage" >

            
            <span class="title" >  <%=locals.data.postHeader.title %>  </span>

            <div class="detailsInfo">
                <span> <%=locals.data.postHeader.author %> </span>
                <span> <%=locals.data.postHeader.lastUpdated %> </span>
            </div>

            <%- include("bannerOne") -%>

           
        
            <% locals.data.data.map((item) => { %>
              <img src="<%=item.downloadUrl %>" alt="image" loading="lazy" class="detailsImage" >
              <p> <%=item.details %> </p>
            <% }); %>
        </div>

        <%- include("footer") -%>
    </div>

    

</body>
</html>