<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MM  News</title>
    <%- include("dymeta") -%>


    <link rel="stylesheet" href="/index.css" />
    <script id="aclib" type="text/javascript" src="//acscdn.com/script/aclib.js"></script>
</head>
<body>
    <div class="mainBody">
        <%- include("nav") -%>
       

       <div class="contentWrapper">


    
        <div style="display: flex;width: 100%;text-align: center;justify-content: center;align-items: center;" >
            <script type="text/javascript">
                aclib.runBanner({
                    zoneId: '8403810',
                });
            </script>
           </div>


        <% data.map((item) => { %>
            <a href="/posts/<%=item.postId%>" >  
             <div class="postCard">
                 <img src="<%=item.imageUrl %>" alt="imageUrl" class="postCardImage" loading="lazy" />
                <div class="info">
                 <div class="infoTitle" > <span><%= item.title %> <%= item.title %>  </span></div>
     
                 <div class="cardInfo">
                     <span><%= item.author %></span>
                     <span class="cardInfoTime" ><%= item.lastUpdated %></span>
                 </div>
                </div>
                </div>
            </a>
         <% }); %>

         <div style="display: flex;width: 100%;text-align: center;justify-content: center;align-items: center;" >
            <script type="text/javascript">
                aclib.runBanner({
                    zoneId: '8404982',
                });
            </script>
        </div>
        
       </div>


        <%- include("footer") -%>
    </div>

    <script type="text/javascript">
        aclib.runInPagePush({
            zoneId: '8404986',
            refreshRate: 30,
            maxAds: 2,
        });
    </script>
    
</body>
</html>