<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MM  News</title>
    <%- include("dymeta") -%>


    <link rel="stylesheet" href="/index.css" />
</head>
<body>
    <div class="mainBody">
        <%- include("nav") -%>
       

        <% data.map((item) => { %>
           <a href="/posts/<%=item.postId%>" >  
            <div class="postCard">
                <img src="<%=item.imageUrl %>" alt="imageUrl" class="postCardImage" loading="lazy" />
               <div class="info">
                <div class="infoTitle" > <span><%= item.title %> <%= item.title %>  </span></div>
    
                <div class="cardInfo">
                    <span><%= item.author %></span>
                    <span class="cardInfoTime" ><%= item.lastUpdated %></span>
                </div>
               </div>
               </div>
           </a>
        <% }); %>


       
    </div>
</body>
</html>